.footer {
    position: absolute;

    width: 2000px;
    /* Set the fixed height of the footer here */
    height: 70px;
    text-align: center;
    background-color: #5993bb;
    color: #ffffff;
         font-family: "AvanteGarde", serif;
    }