{%extends 'partnerzy/base.html' %}

{% block title %} Strona internetowa{% endblock %}
{% block content %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-3 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Zajerestruj się</p>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <div id="form_errors">
                                                    {% for key, value in form.errors.items %}
                                                        <strong>{{ value }}</strong>
                                                    {% endfor %}
                                                </div>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endif %}
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Imię</label>
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Nazwisko</label>
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Nazwa urzydkownika</label>
                                                    {{ form.username }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Email</label>
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1">Password</label>
                                                    {{ form.password1 }}
                                                    {{ form.errors.password }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label class="small mb-1">Confirm Password</label>
                                                    {{ form.password2 }}
                                                </div>


                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button type="submit" class="col-md-12 btn btn-dark">Sign Up</button><br><br>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#">Have an account? Go to Sign in</a>
                                    </div>
                                </div>
                            <!-- Material checked -->
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
  <label class="form-check-label" for="materialChecked2">Material checked</label>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">





            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">

        </div>
{% endblock content %}